<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Commande validée</title>
</head>
<body>
    <div id="corps">
    <div class="box">
    <h1>Le Paiement s'est bien déroulé</h1>
    <h3>On prépare déjà votre commande</h3>
    <iframe src="https://giphy.com/embed/1iTH1WIUjM0VATSw" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><a href="https://giphy.com/gifs/rockymovie-movie-rocky-sylvester-stallone-1iTH1WIUjM0VATSw"></a>
    <a href="/"><h6>Cliquer ici pour revenir vers la page d'accueil</h6></a>
    </div>
    </div>
</body>
</html>